<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>More Recipe</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <body>
    <header style="background-color: black; background-image: none;">
      <div class="container">

          <nav class="navbar navbar-dark navbar-expand-lg justify-content-between py-3 sticky">
              <div class="brand">
    
                <a href="index.html" class="navbar-brand mr-0">More Recipes</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
              </button>
    
    
              <div class="navbar-collapse collapse dual-nav">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="recipes.html">Explore Recipe</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="postRecipe.html">Post Recipe</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="profile.html">profile</a>
                        </li>
        
                      <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="signup.html">Register</a>
                      </li>
                    </ul>
              </div>
            </nav>



      </div>

    </header>

    <section class="container search">
      <div class="row">
        <div class="col">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search for recipes and ingredients">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Search</button>
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="container title">
        <h3>Popular Recipes</h3>
        <hr/>
      </section>
  
      <section class="container recipes ">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="view overlay hm-white-slight">
                <img src="img/rice.jpg" class="img-fluid" alt="">
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <a class="btn-floating btn-action" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <div class="card-body">
                <a href="recipeDetail.html">
                  <h4 class="card-title">Baked Rice and Stew</h4>
                  <hr/>
                </a>
                <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                  lssumr.
                </p>
  
                <p class="author">By
                  <span>Michael Umanah</span>
                </p>
                <div class="voteButton">
                  <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> upvote</a>
                  <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> downvote</a>
                </div>
              </div>
        
              <div class="card-data">
                <ul>
                  <li>
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                  </li>
                  <li>
                    <i class="fa fa-clock-o"></i> 05/10/2015</li>
                  <li>
  
                    <i class="fa fa-comments-o"></i>12
                  </li>
                  <li>
  
                    <i class="fa fa-thumbs-up"> </i>210
                  </li>
  
                </ul>
              </div>
  
            </div>
            <!--/.Card-->
  
          </div>
  
          <div class="col-md-4">
              <div class="card">
                  <div class="view overlay hm-white-slight">
                    <img src="img/rice.jpg" class="img-fluid" alt="">
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <a class="btn-floating btn-action" href="#">
                    <i class="fa fa-heart-o"></i>
                  </a>
                  <div class="card-body">
                    <a href="recipeDetail.html">
                      <h4 class="card-title">Baked Rice and Stew</h4>
                      <hr/>
                    </a>
                    <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                      lssumr.
                    </p>
      
                    <p class="author">By
                      <span>Michael Umanah</span>
                    </p>
                    <div class="voteButton">
                      <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> upvote</a>
                      <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> downvote</a>
                    </div>
                  </div>
            
                  <div class="card-data">
                    <ul>
                      <li>
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </li>
                      <li>
                        <i class="fa fa-clock-o"></i> 05/10/2015</li>
                      <li>
      
                        <i class="fa fa-comments-o"></i>12
                      </li>
                      <li>
      
                        <i class="fa fa-thumbs-up"> </i>210
                      </li>
      
                    </ul>
                  </div>
      
                </div>
  
          </div>
  
          <div class="col-md-4">
              <div class="card">
                  <div class="view overlay hm-white-slight">
                    <img src="img/rice.jpg" class="img-fluid" alt="">
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <a class="btn-floating btn-action" href="#">
                    <i class="fa fa-heart-o"></i>
                  </a>
                  <div class="card-body">
                    <a href="recipeDetail.html">
                      <h4 class="card-title">Baked Rice and Stew</h4>
                      <hr/>
                    </a>
                    <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                      lssumr.
                    </p>
      
                    <p class="author">By
                      <span>Michael Umanah</span>
                    </p>
                    <div class="voteButton">
                      <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> upvote</a>
                      <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> downvote</a>
                    </div>
                  </div>
            
                  <div class="card-data">
                    <ul>
                      <li>
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </li>
                      <li>
                        <i class="fa fa-clock-o"></i> 05/10/2015</li>
                      <li>
      
                        <i class="fa fa-comments-o"></i>12
                      </li>
                      <li>
      
                        <i class="fa fa-thumbs-up"> </i>210
                      </li>
      
                    </ul>
                  </div>
      
                </div>
  
          </div>
        </div>
  
      </section>

    
        <section class="container recipes ">
    
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="view overlay hm-white-slight">
                  <img src="img/rice.jpg" class="img-fluid" alt="">
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <a class="btn-floating btn-action" href="#">
                  <i class="fa fa-heart-o"></i>
                </a>
                <div class="card-body">
                  <a href="recipeDetail.html">
                    <h4 class="card-title">Baked Rice and Stew</h4>
                    <hr/>
                  </a>
                  <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                    lssumr.
                  </p>
    
                  <p class="author">By
                    <span>Michael Umanah</span>
                  </p>
                  <div class="voteButton">
                    <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> upvote</a>
                    <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> downvote</a>
                  </div>
                </div>
          
                <div class="card-data">
                  <ul>
                    <li>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </li>
                    <li>
                      <i class="fa fa-clock-o"></i> 05/10/2015</li>
                    <li>
    
                      <i class="fa fa-comments-o"></i>12
                    </li>
                    <li>
    
                      <i class="fa fa-thumbs-up"> </i>210
                    </li>
    
                  </ul>
                </div>
    
              </div>
              <!--/.Card-->
    
            </div>
    
            <div class="col-md-4">
                <div class="card">
                    <div class="view overlay hm-white-slight">
                      <img src="img/rice.jpg" class="img-fluid" alt="">
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <a class="btn-floating btn-action" href="#">
                      <i class="fa fa-heart-o"></i>
                    </a>
                    <div class="card-body">
                      <a href="recipeDetail.html">
                        <h4 class="card-title">Baked Rice and Stew</h4>
                        <hr/>
                      </a>
                      <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                        lssumr.
                      </p>
        
                      <p class="author">By
                        <span>Michael Umanah</span>
                      </p>
                      <div class="voteButton">
                        <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> upvote</a>
                        <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> downvote</a>
                      </div>
                    </div>
              
                    <div class="card-data">
                      <ul>
                        <li>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </li>
                        <li>
                          <i class="fa fa-clock-o"></i> 05/10/2015</li>
                        <li>
        
                          <i class="fa fa-comments-o"></i>12
                        </li>
                        <li>
        
                          <i class="fa fa-thumbs-up"> </i>210
                        </li>
        
                      </ul>
                    </div>
        
                  </div>
    
            </div>
    
            <div class="col-md-4">
                <div class="card">
                    <div class="view overlay hm-white-slight">
                      <img src="img/rice.jpg" class="img-fluid" alt="">
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <a class="btn-floating btn-action" href="#">
                      <i class="fa fa-heart-o"></i>
                    </a>
                    <div class="card-body">
                      <a href="recipeDetail.html">
                        <h4 class="card-title">Baked Rice and Stew</h4>
                        <hr/>
                      </a>
                      <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                        lssumr.
                      </p>
        
                      <p class="author">By
                        <span>Michael Umanah</span>
                      </p>
                      <div class="voteButton">
                        <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> upvote</a>
                        <a class="btn btn-outline-info"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> downvote</a>
                      </div>
                    </div>
              
                    <div class="card-data">
                      <ul>
                        <li>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </li>
                        <li>
                          <i class="fa fa-clock-o"></i> 05/10/2015</li>
                        <li>
        
                          <i class="fa fa-comments-o"></i>12
                        </li>
                        <li>
        
                          <i class="fa fa-thumbs-up"> </i>210
                        </li>
        
                      </ul>
                    </div>
        
                  </div>
    
            </div>
          </div>
    
        </section>

    <section class="container recipes ">
      <!-- cards -->

      <div class="row">
        <div class="col-md-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Button-->
            <a class="btn-floating btn-action" href="#">
              <i class="fa fa-heart-o"></i>
            </a>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <a href="recipeDetail.html">
                <h4 class="card-title">Baked Ziti I</h4>
              </a>

              <hr>
              <!--Text-->
              <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                lssumr.
              </p>
              <hr>

              <p class="author">By
                <span>Michael Umanah</span>
              </p>
            </div>
            <!--/.Card content-->

            <!-- Card footer -->
            <div class="card-data">
              <ul>
                <li>
                  <i class="fa fa-clock-o"></i> 05/10/2015</li>
                <li>

                  <i class="fa fa-comments-o"></i>12
                </li>
                <li>

                  <i class="fa fa-thumbs-up"> </i>210
                </li>

              </ul>
            </div>
            <!-- Card footer -->

          </div>
          <!--/.Card-->

        </div>

        <div class="col-md-4">
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Button-->
            <a class="btn-floating btn-action" href="#">
              <i class="fa fa-heart-o"></i>
            </a>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <a href="recipeDetail.html">
                <h4 class="card-title">Baked Ziti I</h4>
              </a>

              <hr>
              <!--Text-->
              <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                lssumr.
              </p>
              <hr>

              <p class="author">By
                <span>Michael Umanah</span>
              </p>
            </div>
            <!--/.Card content-->

            <!-- Card footer -->
            <div class="card-data">
              <ul>
                <li>
                  <i class="fa fa-clock-o"></i> 05/10/2015</li>
                <li>

                  <i class="fa fa-comments-o"></i>12
                </li>
                <li>

                  <i class="fa fa-thumbs-up"> </i>210
                </li>

              </ul>
            </div>
            <!-- Card footer -->

          </div>

        </div>

        <div class="col-md-4">
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Button-->
            <a class="btn-floating btn-action" href="#">
              <i class="fa fa-heart-o"></i>
            </a>
            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <a href="recipeDetail.html">
                <h4 class="card-title">Baked Ziti I</h4>
              </a>

              <hr>
              <!--Text-->
              <p class="card-text">Lorem ispum lorem ispum lorem ispim lorem ispum lorem ispim lorem sosos fmffmfnod kdoe lorem ispum lorem ispulm
                lssumr.
              </p>
              <hr>

              <p class="author">By
                <span>Michael Umanah</span>
              </p>
            </div>
            <!--/.Card content-->

            <!-- Card footer -->
            <div class="card-data">
              <ul>
                <li>
                  <i class="fa fa-clock-o"></i> 05/10/2015</li>
                <li>

                  <i class="fa fa-comments-o"></i>12
                </li>
                <li>

                  <i class="fa fa-thumbs-up"> </i>210
                </li>

              </ul>
            </div>
            <!-- Card footer -->

          </div>

        </div>
      </div>

    </section>



    <footer>
      <div class="container ">
        <div class="row">
          <div class="col">
            <p class="text-center">Copyright. All right reserve. More Recipe.</p>
          </div>
        </div>
        
      </div>
    </footer>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
      crossorigin="anonymous"></script>

  </body>

</html>